@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display&family=Orbitron&family=Rock+Salt&family=Rubik+Moonrocks&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  font-weight: bold;
}

.table-hover {
  color: white;
}

.contenedorLoSi {
  display: flex;
  justify-content: flex-end;
  padding: 0.5%;
  background: linear-gradient(to bottom, #1D4350, #182848);
}
.contenedorLoSi .login {
  color: #fff;
}
.contenedorLoSi .login:hover {
  color: #6f7180;
}
.contenedorLoSi .signUp {
  color: #fff;
}
.contenedorLoSi .signUp:hover {
  color: #6f7180;
}

.cajaFraseHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  padding-left: 17%;
  color: white;
  text-shadow: 0.2em 0.2em 0.2em #252525;
  font: bold 16px "Permanent Marker", sans-serif;
  font-size: 16px;
}

.cajaLogo {
  color: white;
  font-style: italic;
  font-weight: bold;
  padding: 3%;
}

h1 {
  transform: translate(-200px, 0);
}

.colorRedes {
  background-color: none;
  opacity: 100%;
}

footer {
  background: linear-gradient(to top, #1D4350, #182848);
  padding: 1%;
  color: whitesmoke;
}

.contenedorMain {
  display: inline-block;
  background-color: #1D4350;
}

.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.colorFondoTabla {
  display: flex;
  flex-direction: column;
}

.bg-dark {
  border-radius: 10px;
  border: #1DA1F2 1px solid;
  background: linear-gradient(to bottom, #1D4350, #121e35);
  box-shadow: inset 0px 0px 40px #0d1729;
}

.navbar {
  margin-top: 5%;
  margin-bottom: 1%;
  padding-top: 20%;
  padding-bottom: 10%;
  border-radius: 10px;
  box-shadow: 5px 0px 0px 0.5px rgba(0, 0, 0, 0.53);
}

.collapse {
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0.5px rgba(0, 0, 0, 0.53);
}

.nav-menu {
  border-radius: 10px;
}

.menu {
  opacity: 100%;
  color: white;
  z-index: 9999;
  padding-right: 10%;
  font-size: medium;
}

.navbar-toggler {
  border: #1DA1F2 1px solid;
  transform-style: none;
}

.l1 {
  display: flex;
  width: 140px;
  justify-content: center;
  background: linear-gradient(to top, #1D4350, #182848);
  border: #1DA1F2 1px solid;
  border-radius: 10px;
  box-shadow: inset 0px 0px 40px black;
  transition: all 0.1s;
}

.l1:hover {
  box-shadow: inset 0px 0px 0px black;
}

.l2 {
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #1D4350, #182848);
  border: #1DA1F2 1px solid;
  border-radius: 10px;
  box-shadow: inset 0px 0px 40px black;
  transition: all 0.1s;
}

.l2:hover {
  box-shadow: inset 0px 0px 0px black;
}

.l3 {
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #1D4350, #182848);
  border: #1DA1F2 1px solid;
  border-radius: 10px;
  box-shadow: inset 0px 0px 40px black;
  transition: all 0.1s;
}

.l3:hover {
  box-shadow: inset 0px 0px 0px black;
}

.l4 {
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #1D4350, #182848);
  border: #1DA1F2 1px solid;
  border-radius: 10px;
  box-shadow: inset 0px 0px 40px black;
  transition: all 0.1s;
}

.l4:hover {
  box-shadow: inset 0px 0px 0px black;
}

.l5 {
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #1D4350, #182848);
  border: #1DA1F2 1px solid;
  border-radius: 10px;
  box-shadow: inset 0px 0px 40px black;
  transition: all 0.1s;
}

.l5:hover {
  box-shadow: inset 0px 0px 0px black;
}

.l6 {
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #1D4350, #182848);
  border: #1DA1F2 1px solid;
  border-radius: 10px;
  box-shadow: inset 0px 0px 40px black;
  transition: all 0.1s;
}

.l6:hover {
  box-shadow: inset 0px 0px 0px black;
}

.contenedorLogoFrase {
  background: linear-gradient(to bottom, #1D4350, #182848);
}

.bordercon {
  border: 2px transparent solid;
  -o-border-image: linear-gradient(to right, #1DA1F2, #C546F7) 1;
     border-image: linear-gradient(to right, #1DA1F2, #C546F7) 1;
  border-image-repeat: repeat;
  -webkit-animation: bordeLogoFrase 3.5s linear infinite;
          animation: bordeLogoFrase 3.5s linear infinite;
}

@-webkit-keyframes bordeLogoFrase {
  0% {
    border-image: linear-gradient(to right, #1DA1F2, #C546F7) 1;
    border-radius: 10px;
  }
  25% {
    border-image: linear-gradient(to bottom, #1DA1F2, #C546F7) 1;
  }
  50% {
    border-image: linear-gradient(to left, #1DA1F2, #C546F7) 1;
  }
  75% {
    border-image: linear-gradient(to top, #1DA1F2, #C546F7) 1;
  }
  100% {
    border-image: linear-gradient(to right, #1DA1F2, #C546F7) 1;
  }
}

@keyframes bordeLogoFrase {
  0% {
    -o-border-image: linear-gradient(to right, #1DA1F2, #C546F7) 1;
       border-image: linear-gradient(to right, #1DA1F2, #C546F7) 1;
    border-radius: 10px;
  }
  25% {
    -o-border-image: linear-gradient(to bottom, #1DA1F2, #C546F7) 1;
       border-image: linear-gradient(to bottom, #1DA1F2, #C546F7) 1;
  }
  50% {
    -o-border-image: linear-gradient(to left, #1DA1F2, #C546F7) 1;
       border-image: linear-gradient(to left, #1DA1F2, #C546F7) 1;
  }
  75% {
    -o-border-image: linear-gradient(to top, #1DA1F2, #C546F7) 1;
       border-image: linear-gradient(to top, #1DA1F2, #C546F7) 1;
  }
  100% {
    -o-border-image: linear-gradient(to right, #1DA1F2, #C546F7) 1;
       border-image: linear-gradient(to right, #1DA1F2, #C546F7) 1;
  }
}
.rowBg-fluid {
  background-image: url(../images/game.jpg);
}

h6 {
  padding-right: 30%;
}

.texto {
  color: #fff;
  padding: 20%;
}

.video-fluid {
  padding: 30%;
}

.formulario {
  padding: 30%;
}

.carousel {
  padding: 10%;
}

.card {
  margin: 10%;
}
.card .card-body {
  background-color: #182848;
  color: #a8a9b4;
}

.redes {
  display: flex;
  flex-direction: column;
  padding: 20%;
  color: #a8a9b4;
}

.fa-twitch {
  padding: 10%;
  margin: 5%;
  text-shadow: 0.025em 0.025em #ccc;
  color: #6441a5;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  box-shadow: 5px 5px 0px 0.5px rgba(0, 0, 0, 0.53);
  border: 0.5px #1DA1F2 solid;
  background: rgb(29, 67, 80);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(29, 67, 80)), color-stop(38%, rgb(29, 67, 80)), color-stop(75%, rgb(24, 40, 72)), color-stop(100%, rgb(24, 40, 72)));
  background: linear-gradient(135deg, rgb(29, 67, 80) 0%, rgb(29, 67, 80) 38%, rgb(24, 40, 72) 75%, rgb(24, 40, 72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1d4350", endColorstr="#182848", GradientType=1 );
}

.fa-twitch:hover {
  text-shadow: 0 0 0px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px #00ffff, 0 0 2px #00ffff, 0 0 3px #00ffff, 0 0 4px #00ffff;
}

.fa-youtube {
  padding: 10%;
  margin: 5%;
  text-shadow: 0.025em 0.025em #ccc;
  color: #c4302b;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  box-shadow: 5px 5px 0px 0.5px rgba(0, 0, 0, 0.53);
  border: 0.5px #1DA1F2 solid;
  background: rgb(29, 67, 80);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(29, 67, 80)), color-stop(38%, rgb(29, 67, 80)), color-stop(75%, rgb(24, 40, 72)), color-stop(100%, rgb(24, 40, 72)));
  background: linear-gradient(135deg, rgb(29, 67, 80) 0%, rgb(29, 67, 80) 38%, rgb(24, 40, 72) 75%, rgb(24, 40, 72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1d4350", endColorstr="#182848", GradientType=1 );
}

.fa-youtube:hover {
  text-shadow: 0 0 0px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px #00ffff, 0 0 2px #00ffff, 0 0 3px #00ffff, 0 0 4px #00ffff;
}

.fa-discord {
  padding: 10%;
  margin: 5%;
  text-shadow: 0.025em 0.025em #ccc;
  color: #7289da;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  box-shadow: 5px 5px 0px 0.5px rgba(0, 0, 0, 0.53);
  border: 0.5px #1DA1F2 solid;
  background: rgb(29, 67, 80);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(29, 67, 80)), color-stop(38%, rgb(29, 67, 80)), color-stop(75%, rgb(24, 40, 72)), color-stop(100%, rgb(24, 40, 72)));
  background: linear-gradient(135deg, rgb(29, 67, 80) 0%, rgb(29, 67, 80) 38%, rgb(24, 40, 72) 75%, rgb(24, 40, 72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1d4350", endColorstr="#182848", GradientType=1 );
}

.fa-discord:hover {
  text-shadow: 0 0 0px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px #00ffff, 0 0 2px #00ffff, 0 0 3px #00ffff, 0 0 4px #00ffff;
}

.fa-instagram {
  padding: 10%;
  margin: 5%;
  text-shadow: 0.025em 0.025em #ccc;
  color: #8a3ab9;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  box-shadow: 5px 5px 0px 0.5px rgba(0, 0, 0, 0.53);
  border: 0.5px #1DA1F2 solid;
  background: rgb(29, 67, 80);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(29, 67, 80)), color-stop(38%, rgb(29, 67, 80)), color-stop(75%, rgb(24, 40, 72)), color-stop(100%, rgb(24, 40, 72)));
  background: linear-gradient(135deg, rgb(29, 67, 80) 0%, rgb(29, 67, 80) 38%, rgb(24, 40, 72) 75%, rgb(24, 40, 72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1d4350", endColorstr="#182848", GradientType=1 );
}

.fa-instagram:hover {
  text-shadow: 0 0 0px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px #00ffff, 0 0 2px #00ffff, 0 0 3px #00ffff, 0 0 4px #00ffff;
}

.fa-tiktok {
  padding: 10%;
  margin: 5%;
  text-shadow: 0.025em 0.025em #ccc;
  color: #ff0050;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  box-shadow: 5px 5px 0px 0.5px rgba(0, 0, 0, 0.53);
  border: 0.5px #1DA1F2 solid;
  background: rgb(29, 67, 80);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(29, 67, 80)), color-stop(38%, rgb(29, 67, 80)), color-stop(75%, rgb(24, 40, 72)), color-stop(100%, rgb(24, 40, 72)));
  background: linear-gradient(135deg, rgb(29, 67, 80) 0%, rgb(29, 67, 80) 38%, rgb(24, 40, 72) 75%, rgb(24, 40, 72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1d4350", endColorstr="#182848", GradientType=1 );
}

.fa-tiktok:hover {
  text-shadow: 0 0 0px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px #00ffff, 0 0 2px #00ffff, 0 0 3px #00ffff, 0 0 4px #00ffff;
}

.fa-twitter {
  padding: 10%;
  margin: 5%;
  text-shadow: 0.025em 0.025em #ccc;
  color: #1DA1F2;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  box-shadow: 5px 5px 0px 0.5px rgba(0, 0, 0, 0.53);
  border: 0.5px #1DA1F2 solid;
  background: rgb(29, 67, 80);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(29, 67, 80)), color-stop(38%, rgb(29, 67, 80)), color-stop(75%, rgb(24, 40, 72)), color-stop(100%, rgb(24, 40, 72)));
  background: linear-gradient(135deg, rgb(29, 67, 80) 0%, rgb(29, 67, 80) 38%, rgb(24, 40, 72) 75%, rgb(24, 40, 72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1d4350", endColorstr="#182848", GradientType=1 );
}

.fa-twitter:hover {
  text-shadow: 0 0 0px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px #00ffff, 0 0 2px #00ffff, 0 0 3px #00ffff, 0 0 4px #00ffff;
}

.cajaFraseHeader {
  font-size: 100px;
  letter-spacing: -2px;
  color: #fff;
  text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 10px #fff, 0 0 15px #ff00de, 0 0 20px #ff00de;
  -webkit-text-fill-color: #F4ECFF;
  -webkit-text-stroke-color: #C546F7;
  -webkit-text-stroke-width: 0.2px;
  -webkit-animation: encabezado 2.5s linear infinite;
          animation: encabezado 2.5s linear infinite;
}

@-webkit-keyframes encabezado {
  0% {
    text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 10px #fff, 0 0 15px #ff00de, 0 0 20px #ff00de;
  }
  50% {
    text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 10px #fff, 0 0 15px #6441a5, 0 0 20px #6441a5;
  }
  100% {
    text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 10px #fff, 0 0 15px #ff00de, 0 0 20px #ff00de;
  }
}

@keyframes encabezado {
  0% {
    text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 10px #fff, 0 0 15px #ff00de, 0 0 20px #ff00de;
  }
  50% {
    text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 10px #fff, 0 0 15px #6441a5, 0 0 20px #6441a5;
  }
  100% {
    text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 10px #fff, 0 0 15px #ff00de, 0 0 20px #ff00de;
  }
}
.img-fluid {
  box-shadow: 0px 6px 0px 5px rgba(0, 0, 0, 0.53);
}/*# sourceMappingURL=style.css.map */